<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="qingmang.raml"
    android:installLocation="auto"
    android:versionCode="1"
    android:versionName="0.1.0">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name="qingmang.raml.RamlApplication"
        android:icon="@drawable/icon"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activity.MenuActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>

        </activity>
        <activity
            android:name=".activity.ArticleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
